<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <%- include('./partial/header.ejs',{dot:"..",mainCheck:true}) %>
    <div class="position-absolute top-50 start-50 translate-middle fs-1">404 Page not found</div>
    
</body>
</html>