<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/drawing/stils.css">
</head>
<body>
    <%- include('./partial/header.ejs',{dot:".."}) %>
    <div id="bbbb"></div><div class="hidden" id="imgData"><%=c%></div>
    <div id="color" class="canv"><canvas width="200" height="200"></canvas></div>
    <div id="moveable" class="controlP" style="top:200px;left:200px">
        <input type="color" id="lol" value="#ff0000" class="colChoo">
        <div class="toolBox">
            <a id="pencil" class="tIcon"></a>
            <a id="bucket" class="tIcon"></a>
            <a id="moveView" class="tIcon"></a>
        </div>
        <button class="saveBtn btn btn-secondary" onclick="saveImage()">Save</button>
        <label for="toolOption" class="form-label">Pencil size <input type="number" value="2" id="num"></label>
        
        <input type="range" class="form-range" min="1" max="100" id="toolOption">
    </div>
    
    <script src="/drawing/draw.js"></script>
</body>
</html>