<!DOCTYPE HTML>  
<html>
    <head>
        <style>
        .error {color: #FF0000;}
        </style>
        <link rel="icon" type="image/x-icon" href="/images/default/icon.ico">
        <title><%=title%></title>
    </head>
    <body>
        <%- include('../partial/header.ejs',{dot:".",lan:lan}) %>
        <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>

        <main class="form-signin w-25 m-auto position-absolute top-50 start-50 translate-middle">
            <form method="post" action="<%=self%>">
