

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<header class="p-3 mb-3 border-bottom position-relative z-1 bg-light"> 
    <div class="container"> 
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">  
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"> 
                <img class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" src="/images/default/icon.svg">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> 
                <% if(!locals.mainCheck){ %>
                    <li>
                        <a href="../" class="nav-link px-2 link-body-emphasis">
                            <% if (lan=="lv") { %>
                            Atpakaļ
                            <% } else { %>
                            Go back
                            <% } %>
                        </a>
                    </li> 
                <% } %>
            </ul>
            <div class="dropdown text-end p-2"> 
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <% if (lan=="lv") { %>
                    Valoda
                    <% } else { %>
                    Language
                    <% } %>
                </a> 
                <ul class="dropdown-menu text-small">
                    <li class="text-center" onclick='changeLan("en")'>
                        EN
                    </li> 
                    <li>
                        <hr class="dropdown-divider">
                    </li> 
                    <li class="text-center" onclick='changeLan("lv")'>
                        LV
                    </li> 
                </ul> 
            </div>
            <div class="dropdown text-end"> 
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <img src="
                    <% if(locals.pfpUrl){ %>
                    <%=pfpUrl%>
                    <% } else { %>
                    /images/default/default.png
                    <% } %>
                    " alt="usrPFP" width="32" height="32" class="rounded-circle"> 
                </a> 
                <ul class="dropdown-menu text-small">
                    <% if (locals.loggedIn && loggedIn) { %>
                    <li>
                        <center>
                            <div>
                                <%=name%>
                            </div>
                        </center>
                    </li> 
                    <li>
                        <hr class="dropdown-divider">
                    </li> 
                    <li>
                        <a class="dropdown-item" href="/create">
                            <% if (lan=="lv") { %>
                            Izveidot bildi
                            <% } else { %>
                            Create image
                            <% } %>
                        </a>
                    </li> 
                    <li>
                        <a class="dropdown-item" href="/settings">
                            <% if (lan=="lv") { %>
                            Opcijas
                            <% } else { %>
                            Settings
                            <% } %>
                        </a>
                    </li> 
                    <li>
                        <a class="dropdown-item" href="/profile">
                            <% if (lan=="lv") { %>
                            Profils
                            <% } else { %>
                            Profile
                            <% } %>
                        </a>
                    </li> 
                    <li>
                        <hr class="dropdown-divider">
                    </li> 
                    <% } %>
                    <li>
                        <a class="dropdown-item" href=
                        <% if(locals.signUrl){ %>
                        "<%=signUrl%>"
                        <% } else { %>
                        "/login"
                        <% } %>
                        >
                        <% if(locals.prof_log){ %>
                        <% if (lan=="lv") { %>
                        Ielogoties
                        <% } else { %>
                        <%=prof_log%>
                        <% } %>
                        
                        <% } else { %>
                        <% if (lan=="lv") { %>
                        Ielogoties
                        <% } else { %>
                        Log In
                        <% } %>
                        <% } %>
                        </a>
                    </li>
                    <% if(!locals.prof_log||locals.prof_log=="Log in"){ %>
                        <li>
                            <a class="dropdown-item" href="/register">
                                <% if (lan=="lv") { %>
                                Reģistrēties
                                <% } else { %>
                                Register
                                <% } %>
                            </a>
                        </li>
                    <% } %>
                </ul> 
            </div> 
        </div> 
    </div> 
</header>
<script>
    async function changeLan(lan){
        fetch(`/lan/${lan}`, {
            method: "POST"
        });
        location.reload();
    }
</script>